@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import "tailwindcss";

@theme {
  --color-l-yellow-1: #BFF205;
  --color-l-yellow-2: #D7F205;
  --color-l-yellow-2: #7D8C0B;
  --color-d-blue-1: #040240;
  --color-d-blue-2: #0D0D0D;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #dbdaff;
    color: #040240;
}

.pizza-cont {
    background-color: #BFF205;
}

input[type=radio] {
    visibility: hidden;
}

input[type="radio"] {
    display: none;
    /* Hide radio buttons */
}

.size {
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #7D8C0B;
    color: #040240;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked+label {
    background-color: #040240;
    color: #ffba00;
}

.main-cont {
    width: 100vw;
    height: 100vh;
}

/* h1 {
    font-size: 4rem;
    text-align: center;
    color: #BFF205;
} */

