@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: blue;
}